
.pageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px
}

.signupContainer{
  border: 2px solid black;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 400px;
}
